#code-casestudy p{
	color:$color-main;
	//font-size: 15px;
	text-align: left;
	letter-spacing: 0.1em;
	font-weight: 400;
	font-family: $font-family !important;
	line-height: 1.6;
	padding-top: 15px;
	margin-bottom: 15px;
}

#code-casestudy .row{
	border-top: $color-main 1px solid;
	padding-top: 20px;
}

#p-site{
	
}

#code-casestudy span{
	text-decoration: underline;
	font-size:12px;
	font-style: italic;
	cursor:pointer;
}

#code-casestudy h2{
	font-size: 14px;
	color:$color-main;
	margin-top: 120px;
	letter-spacing: 0.04em;
	font-weight:400px;
	margin-bottom: 20px;
}

#code-casestudy .row img{
	width: 100%;
	margin: 0;
	padding: 0;
	cursor:pointer;
	transition: 0.2s ease-in-out;
	vertical-align: top;
}

.code-casestudy-project{
	position: relative;
}

#ideate .gallery-project{
	border-top: $color-main 1px solid;
	margin-top: -21px;
}


.code-casestudy-link-button p{
	margin-top: -60px;
	border: $color-main 2px solid;
	color: $color-main;
	padding:5px 20px 12px 20px;
	font-size:12px;
	display: inline-block;
	cursor: pointer;
	transition: 0.2s ease-in-out;
	margin-bottom: 20px;
	margin-top: 40px;
	&:hover{
		background: $color-main;
		color: $color-black !important;
	}
	@media #{$screen-phone}{
	margin-top: 10px;
	}
}
